<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>

    <client>
      <endpoint name="EvidencijaService"
                address="net.tcp://localhost:4002/ServiceEvidencija"
                binding="netTcpBinding"
                contract="Common.IEvidencija" />
	    <endpoint name="BazaPodatakaService"
			  address="net.tcp://localhost:4003/ServiceBaza"
			  binding="netTcpBinding"
			  contract="Common.IEvidencija" />
    </client>

  </system.serviceModel>
</configuration>