<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Service.EvidencijaService">
        <host>
          <baseAddresses>

            <add baseAddress="net.tcp://localhost:4002" />
          </baseAddresses>

        </host>
        <!-- Service Endpoints -->

        <endpoint address="ServiceEvidencija" binding="netTcpBinding" contract="Common.IEvidencija" />
      </service>

    </services>
  </system.serviceModel>
</configuration>