<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dbType" value="XML"/> <!-- XML / InMemory -->
		<add key = "deviationCalculationMethod" value="AbsDeviation" /><!-- SquDeviation / AbsDeviation -->
	</appSettings>
  <system.serviceModel>
    <services>
      <service name="Service.CsvReader">
        <host>
          <baseAddresses>

            <add baseAddress="net.tcp://localhost:4002" />
          </baseAddresses>

        </host>
        <!-- Service Endpoints -->

        <endpoint address="ServiceCsvReader" binding="netTcpBinding" contract="Common.ICsvReader" />
      </service>

    </services>
  </system.serviceModel>
</configuration>