<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dbType" value="XML"/> <!-- XML / InMemory -->
		<add key = "deviationCalculationMethod" value="AbsDeviation" /><!-- SquDeviation / AbsDeviation -->
	</appSettings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="debug">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Service.FileHandlingService" behaviorConfiguration="debug">
				<endpoint address="" binding="netTcpBinding" contract="Common.IFileHandling" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002/ServiceFileHandling" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>